{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% load static %}
<img src="{% static 'logo.png' %}" width="30%">
<br><br>

{% if user.is_authenticated %}
  <h3>WELCOME, {{ user.username }} !</h3>
  <br><br><br><br>
  <a href="{% url 'logout' %}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
  </a>
  
{% else %}
  <h3>Login first!</h3>
  <br><br><br><br>
  <a href="{% url 'login' %}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
  </a>
{% endif %}

{% endblock %}